 @font-face {
     font-family: editorial;
     src: url(PPEditorialNew-Ultralight-BF644b21500d0c0.otf);
 }

 @font-face {
     font-family: editorialb;
     src: url(PPEditorialNew-Ultrabold-BF644b21500840c.otf);
 }

 @font-face {
     font-family: canopee;
     src: url(Canopee\ Regular.otf);
 }

 @font-face {
     font-family: dom;
     src: url(domaine.ttf);
 }


 * {
     Margin: 0;
     Padding: 0;
     Box-sizing: border-box;
     Font-family: editorial;

 }

 *::selection {
     color: #ffff;
     background-color: #000;
 }

 html,
 body {
     Width: 100%;
     Height: 100%;
     /* background-image: url(bg.jpg);
     mix-blend-mode: multiply;
    opacity: 2; */
 }

 #main {
     background-color: rgba(0, 0, 0, 0.849);
     overflow-x: hidden;
 }

 .page1 {
     height: 125vh;
     width: 100%;
     background-color: #C6BEB5;
     position: relative;
     overflow: hidden;
 }

 .nav {
     height: 75px;
     width: 100%;
     /* background-color: red; */
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 30px;
     font-family: editorial;
     border-bottom: 1.4px solid rgba(0, 0, 0, 0.361);
 }

 .nav img {
     height: 20px;
 }

 .nav h5 {
     font-weight: 30;
     color: rgba(0, 0, 0, 0.671);
 }

.nav a{
    text-decoration: none;
    font-family:dom;
    font-size: 1.5vw;
    color: #B83C12;
}

 .elems {
     height: 25vw;
     /* background-color: crimson; */
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 30px 30px;
 }

 .elem1 {
     width: 30%;
     height: 100%;
     /* background-color: blue; */

 }

 .elem1 h4 {
     font-size: 20px;
     margin-top: 10px;
     margin-bottom: 10px;
     font-family: canopee;
     font-weight: 500;
 }

 .elem1 h4 span {
     background-color: #B83C12;
     color: rgba(255, 255, 255, 0.628);
     font-weight: 100;
     font-family: canopee;
     font-size: 15px;
     padding: 3px;
     border-radius: 3px;
 }

 .elem1 p {
     color: rgba(0, 0, 0, 0.785);
 }


 .elem2 {
     width: 30%;
     height: 100%;
     /* background-color: blue; */
     border-left: 1px solid rgba(0, 0, 0, 0.361);
     border-right: 1px solid rgba(0, 0, 0, 0.361);
     padding: 20px 60px;
     text-align: center;
 }

 .elem2 h2 {
     font-family: canopee;
     font-weight: 580;
     font-size: 50px;
     color: rgba(0, 0, 0, 0.868);
 }



 .elem2 h3 {
     font-family: editorial;
     font-weight: 500;
     font-size: 30px;
     color: rgba(0, 0, 0, 0.868);
     margin-bottom: 18px;
 }

 .elem2 h6 {
     font-size: 15px;
     color: rgba(0, 0, 0, 0.751);
 }


 .elem3 {
     width: 30%;
     height: 100%;
     /* background-color: blue; */
 }

 .elem3 h4 {
     font-size: 20px;
     margin-top: 10px;
     margin-bottom: 10px;
     font-family: canopee;
     font-weight: 500;
 }

 .elem3 p {
     color: rgba(0, 0, 0, 0.785);
 }

 .elem1 .img-div {
     height: 60%;
     width: 100%;
     overflow: hidden;
     border: 1px solid black;
     object-fit: fill;
 }

 .elem3 .img-div {
     height: 60%;
     width: 100%;
     overflow: hidden;
     border: 1px solid black;
     opacity: .8;
     object-position: top;
 }

 .elem3 h4 span {
     background-color: #B83C12;
     color: rgba(255, 255, 255, 0.628);
     font-weight: 100;
     font-family: canopee;
     font-size: 15px;
     padding: 3px;
     border-radius: 3px;
 }





 .img-div img {
     height: 100%;
     width: 100%;
     object-fit: cover;
     transition: all ease 0.5s;
 }

 .img-div:hover img {
     scale: 1.2;
 }

 /* scrollbar */

 ::-webkit-scrollbar {
     width: 16px;
 }

 ::-webkit-scrollbar-track {
     border-radius: 8px;
     background-color: #e7e7e7;
     border: 1px solid #cacaca;
 }

 ::-webkit-scrollbar-thumb {
     border-radius: 8px;
     border: 3px solid transparent;
     background-clip: content-box;
     background-color: #1C1C1A;
 }




 .page1 h1 {
     margin-top: 2vw;
     font-size: 33vw;
     font-family: canopee;
     letter-spacing: -15px;
     background-color: #1C1C1A;
     font-weight: 100;
     color: #C3BBB2;
     line-height: 370px;
     width: 96%;
     margin-left: 2%;
 }




 .page2 {
     height: 150vh;
     width: 100%;
     background-color: #C3BBB2;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 1vw 2vw
 }

 .page2-left {
     height: 100%;
     width: 35%;
     padding-left: 2vw;
     /* background-color: blue; */
     /* display: flex;
    flex-direction: column; */
 }

 .page2-left h2 {
     font-size: 6vw;
     font-family: canopee;
     font-family: 100;
     line-height: 15vh;
     text-align: left;
     color: #1C1C19;
 }

 .page2-left h2 span {
     font-size: 10vw;
     font-family: canopee;
     color: black;

 }



 .page2-left img {
     height: 70vh;
     /* width: 50vw; */
     object-fit: contain;
     border: 1px solid black;
     margin-bottom: 1vw;
 }

 .page2-left p {
     font-size: 25px;
 }

 .page2-left p span {
     font-size: 35px;
     font-family: domine;
     background-color: #1C1C1A;
     color: white;
     padding: 2px;

 }

 .page2-right {
     height: 100%;
     width: 65%;
     /* padding: 2vw; */
     /* background-color: pink; */
     border-left: 1px solid black;
 }

 .page2-right img {
     height: 70vh;
     width: 100%;
     object-fit: contain;
 }

 .page2-right h2 {
     padding: 1vw 0vw 0vw 7vw;
     font-size: 5.5vw;
     text-align: left;
     font-family: dom;
     text-transform: uppercase;
     color: #1C1C19;
     text-decoration: line-through;
     text-decoration-thickness: 1px;
     text-decoration-color: #00000078;
 }

 .page3 {
     position: relative;
     background-color: #C3BBB2;
     display: flex;
     padding-left: 1vw;
 }

 .page3 h1 {
     padding-left: 1vw;
     font-size: 300px;
     background-color: #1C1C19;
     color: #c4bcb3;
     height: 5%;
     width: 70%;
     font-family: canopee;
     margin-bottom: 2vw;
 }

 .page3 img {
     height: 56vh;
     width: 23vw;
     padding-left: 2vw;
     object-fit: cover;
     top: 0;
     right: 0;
 }


 .page4 {
     min-height: 150vh;
     padding-left: 2vw;
     background-color: #C3BBB2;
     display: flex;
     /* justify-content: space-between; */
 }

 .page4-leftside {
     height: 100%;
     width: 70%;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;

 }

 .box1 {
     width: 45%;
     height: 100%;
     text-align: left;

 }

 .box1 h1 {
     font-family: dom;
     font-size: 4vw;
 }

 .box1 h4 {
     font-family: editorial;
     font-size: 4vw;
     color: #1C1C1A;
 }

 .box2 {
     width: 50%;
     height: 100%;
     text-align: left;
     border-left: 1px solid #1C1C19;
     padding-left: 4vw;
 }

 .box2 .img-art {
     height: 90%;
     width: 90%;
     overflow: hidden;
     border: 1px solid black;
 }

 .img-art img {
     height: 100%;
     width: 100%;
     object-fit: cover;
     transition: all ease 0.5s;
     /* overflow: hidden; */

 }

 .img-art:hover img {
     scale: 1.2;
 }

 .box2 h2 {
     font-family: canopee;
     font-size: 2vw;
     color: #1C1C1A;
 }

 .box2 p {
     font-family: editorial;
     font-size: 1vw;
     font-weight: 200;
 }

 .box3 {
     padding-top: 2vw;
     height: 100%;
     width: 100%;
 }

 .box3 img {
     height: 100%;
     width: 100%;
     object-fit: cover;
 }

 .page4-rightside {
     height: 100%;
     width: 30%;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin-left: 1vw;
     border-left: 1px solid #1C1C1A;
 }

 .material1 h2 {
     padding-left: 2vw;
     font-family: canopee;
     font-size: 5vw;
     text-decoration: line-through;
     text-decoration-thickness: 1px;
     text-decoration-color: #00000078;
 }

 .material1 h1 {
     padding-left: 3vw;
     font-family: canopee;
     font-size: 10vw;
     text-decoration: line-through;
     text-decoration-thickness: 1px;
     text-decoration-color: #00000078;
 }

 .material2 p {
     padding-left: 2vw;
     font-family: editorial;
     font-weight: 300;
     font-size: 2.5vw;
     line-height: 2.5vw;
     margin-bottom: 1vw;
 }

 .material3 {
     margin-top: 7.5vw;
     margin-bottom: 9vw;
     margin-left: 4vw;
     height: 15vh;
     width: 75%;
     border: 1px solid black;
     border-radius: 50%;
     /* background-color: red; */
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: nowrap;
     overflow: hidden;
 }

 .material3 h1 {
     font-family: dom;
     font-size: 3vw;
     margin-right: 10vw;
     transition: all ease 0.6s;
 }

 .material3 img {
     height: 5vh;
     transform: translateX(-140%);
     transition: all ease 0.6s;
 }

 .material3:hover img {
     transform: translateX(100%);
 }

 .material3:hover h1 {
     transform: translateX(250%);
 }

 .page5 {
     padding-left: 2vw;
     height: 17vh;
     width: 100%;
     background-color: #C3BBB2;
     white-space: nowrap;
     overflow-x: auto;
     overflow-y: hidden;
     border-top: 1px solid #1C1C1A;
     border-bottom: 1px solid #1C1C1A;
 }

 .page5::-webkit-scrollbar {
     display: none;
 }

 .page5 h1 {
     font-family: dom;
     font-size: 6vw;
     padding-right: 2vw;
     display: inline-block;
     margin-right: 2vw;
     animation: slider 7s infinite linear;
     color: #1C1C19;
     font-weight: 100;
 }

 .page5 h1 span {
     font-family: canopee;
     background-color: #222222;
     color: #c4bcb3;
     padding: 0 12px;
 }

 .page5:hover h1 {
     animation-play-state: paused;
 }

 @keyframes slider {
     0% {
         transform: translateX(0);
     }

     100% {
         transform: translateX(calc(-100% - 2vw));
     }
 }


 .page6 {
     min-height: 100vh;
     width: 100%;
     background-color: #c4bcb3;
     position: relative;
     /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
 }

 .page6-top {
     height: 40%;
     width: 100%;
     /* background-color: crimson; */
     display: flex;
 }

 .page6-top-left {
     padding-top: 1vw;
     padding-left: 2vw;
     width: 50%;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
 }

 .page6-top-left img {
     height: 47vh;
     width: 14vw;
     border: 1px solid #1C1C19;
 }

 .page6-top-left h1 {
     margin-left: 2vw;
     font-family: canopee;
     font-size: 53vh;
     color: #1C1C1A;
 }

 .page6-top-left h2 {
     font-family: canopee;
     font-size: 60vh;
     margin-top: -12vh;
     color: #1C1C1A;
 }

 .page6-top-right {
     /* padding-top: 3vw; */
     padding-right: 2vw;
     width: 50%;
     margin: 1vw;
     /* background-color: blue; */
 }

 .page6-top-right img {
     border: 1px solid #1C1C19;
     height: 103vh;
     width: 100%;
 }

 .page6-middle {
     margin-top: -4vw;
     height: 40%;
     width: 100%;
     /* background-color: crimson; */
     display: flex;
     padding-top: 0vw;
     padding-left: 2vw;
     align-items: center;
 }

 .page6-middle-left img {
     height: 47vh;
     width: 23vw;
     border: 1px solid #1C1C19;
 }

 .page6-middle-right h1 {
     padding-left: 4vw;
     font-family: canopee;
     font-size: 20vw;
     color: #1C1C1A;
 }

 .page6-bottom {
     height: 40%;
     width: 100%;
     /* background-color: crimson; */
     display: flex;
     padding-top: 2vw;
     padding-left: 2vw;
     align-items: center;
 }

 .page6-bottom-left {
     width: 100%;
     height: auto;
 }

 .page6-bottom-left h1 {
     font-size: 25vw;
     font-family: canopee;
     letter-spacing: -17px;
     padding: 1vw;
     background-color: #1C1C1A;
     font-weight: 100;
     color: #C3BBB2;
     width: 102%;
     height: 64vh;
 }

 .page6-bottom-right p {
    padding-left: 2vw;
    font-size: 1.9vw;
    font-family: editorial;
    line-height: 4vw;
 }

 .page6-bottom-right p span {
     font-family: canopee;
     font-size: 4vw;
     color: #1C1C1A;
     font-weight: 200;
 }

 .page7 {
     min-height: 60vh;
     width: 100%;
     background-color: #C6BEB5;
     position: relative;
     overflow: hidden;
 }

 .elems-part2 {
     height: 25vw;
     /* background-color: crimson; */
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 30px 30px;
 }

 .elem1-part2 {
     width: 30%;
     height: 100%;
     /* background-color: blue; */

 }

 .elem1-part2 h4 {
     font-size: 20px;
     margin-top: 10px;
     margin-bottom: 10px;
     font-family: canopee;
     font-weight: 500;
 }

 .elem1-part2 h4 span {
     background-color: #B83C12;
     color: rgba(255, 255, 255, 0.628);
     font-weight: 100;
     font-family: canopee;
     font-size: 15px;
     padding: 3px;
     border-radius: 3px;
 }

 .elem1-part2 p {
     color: rgba(0, 0, 0, 0.785);
 }

 .elem2-part2 {
     width: 30%;
     height: 100%;
     /* background-color: blue; */
     border-left: 1px solid rgba(0, 0, 0, 0.361);
     border-right: 1px solid rgba(0, 0, 0, 0.361);
     padding: 20px 60px;
     text-align: center;
 }

 .elem2-part2 h2 {
     font-family: canopee;
     font-weight: 580;
     font-size: 50px;
     color: rgba(0, 0, 0, 0.868);
 }

 .elem2-part2 h3 {
     font-family: editorial;
     font-weight: 500;
     font-size: 30px;
     color: rgba(0, 0, 0, 0.868);
     margin-bottom: 18px;
 }

 .elem2-part2 h6 {
     font-size: 15px;
     color: rgba(0, 0, 0, 0.751);
 }


 .elem3-part2 {
     width: 30%;
     height: 100%;
     /* background-color: blue; */
 }

 .elem3-part2 h4 {
     font-size: 20px;
     margin-top: 10px;
     margin-bottom: 10px;
     font-family: canopee;
     font-weight: 500;
 }

 .elem3-part2 p {
     color: rgba(0, 0, 0, 0.785);
 }

 .elem1-part2 .img-div {
     height: 60%;
     width: 100%;
     overflow: hidden;
     border: 1px solid black;
 }

 .elem3-part2 .img-div {
     height: 60%;
     width: 100%;
     overflow: hidden;
     border: 1px solid black;
 }

 .elem3-part2 h4 span {
     background-color: #B83C12;
     color: rgba(255, 255, 255, 0.628);
     font-weight: 100;
     font-family: canopee;
     font-size: 15px;
     padding: 3px;
     border-radius: 3px;
 }





 .img-div img {
     height: 100%;
     width: 100%;
     object-fit: cover;
     transition: all ease 0.5s;
 }

 .img-div:hover img {
     scale: 1.2;
 }

 .page-footer {
     height: 15vh;
     width: 100%;
     background-color: #C6BEB5;
     overflow: hidden;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .footer-leftside {
     display: flex;
     align-items: center;
     padding-left: 2vw;
     gap: 15px;
 }

 .footer-leftside img {
     height: 7vh;
     width: 2vw;
     object-fit: cover;
 }

 .footer-leftside h4 {
     font-family: canopee;
     font-size: 2vw;
     font-weight: 100;
     color: #1C1C19;
 }

 .footer-leftside h5 {
     font-family: editorial;
     font-size: 1.2vw;
     font-weight: 50;
     color: #1C1C19;
 }

 .footer-rightside {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 20px;
     margin-right: 2vw;
 }

 .footer-rightside h3 a {
     font-size: 1.5vw;
     font-family: canopee;
     font-weight: 500;
     text-decoration: none;
     color: #1c1c19ec;
 }

 .footer-rightside span {
     padding-bottom: 4vh;
     font-size: 3vw;
 }










 @media (max-width:600px) {

     .page1 {
         height: 25vh;
         width: 100%;
         background-color: #C6BEB5;
         position: relative;
         overflow: hidden;
     }

     .nav {
         height: 75px;
         width: 100%;
         /* background-color: red; */
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 0 30px;
         font-family: editorial;
         border-bottom: 1.4px solid rgba(0, 0, 0, 0.361);
     }

     .nav img {
         height: 20px;
     }

     .nav h5 {
         font-weight: 30;
         color: rgba(0, 0, 0, 0.671);
     }

     .elems {
         display: none;
         height: 25vw;
         /* background-color: crimson; */
         align-items: center;
         justify-content: space-between;
         padding: 30px 30px;
     }

     .elem1 {
         width: 30%;
         height: 100%;
         /* background-color: blue; */

     }

     .elem1 h4 {
         font-size: 20px;
         margin-top: 10px;
         margin-bottom: 10px;
         font-family: canopee;
         font-weight: 500;
     }

     .elem1 h4 span {
         background-color: #B83C12;
         color: rgba(255, 255, 255, 0.628);
         font-weight: 100;
         font-family: canopee;
         font-size: 15px;
         padding: 3px;
         border-radius: 3px;
     }

     .elem1 p {
         color: rgba(0, 0, 0, 0.785);
     }


     .elem2 {
         width: 30%;
         height: 100%;
         /* background-color: blue; */
         border-left: 1px solid rgba(0, 0, 0, 0.361);
         border-right: 1px solid rgba(0, 0, 0, 0.361);
         padding: 20px 60px;
         text-align: center;
     }

     .elem2 h2 {
         font-family: canopee;
         font-weight: 580;
         font-size: 50px;
         color: rgba(0, 0, 0, 0.868);
     }



     .elem2 h3 {
         font-family: editorial;
         font-weight: 500;
         font-size: 30px;
         color: rgba(0, 0, 0, 0.868);
         margin-bottom: 18px;
     }

     .elem2 h6 {
         font-size: 15px;
         color: rgba(0, 0, 0, 0.751);
     }


     .elem3 {
         width: 30%;
         height: 100%;
         /* background-color: blue; */
     }

     .elem3 h4 {
         font-size: 20px;
         margin-top: 10px;
         margin-bottom: 10px;
         font-family: canopee;
         font-weight: 500;
     }

     .elem3 p {
         color: rgba(0, 0, 0, 0.785);
     }

     .elem1 .img-div {
         height: 60%;
         width: 100%;
         overflow: hidden;
         border: 1px solid black;
         object-fit: fill;
     }

     .elem3 .img-div {
         height: 60%;
         width: 100%;
         overflow: hidden;
         border: 1px solid black;
         opacity: .8;
         object-position: top;
     }

     .elem3 h4 span {
         background-color: #B83C12;
         color: rgba(255, 255, 255, 0.628);
         font-weight: 100;
         font-family: canopee;
         font-size: 15px;
         padding: 3px;
         border-radius: 3px;
     }

     .page1 h1 {
         margin-top: 1vw;
         font-size: 33vw;
         font-family: canopee;
         letter-spacing: -4px;
         background-color: #1C1C1A;
         font-weight: 100;
         color: #C3BBB2;
         line-height: 113px;
         width: 95%;
         margin-left: 2%;
     }

     .page2 {
         height: 145vh;
         width: 100%;
         background-color: #C3BBB2;
         display: flex;
         align-items: center;
         justify-content: space-between;
         flex-direction: column;
         padding: 0vw 0vw;

     }

     .page2-left {
         height: 100%;
         width: 100%;
         padding-left: 2vw;
         /* background-color: blue; */
         /* display: flex;
           flex-direction: column; */
     }

     .page2-left h2 {
         font-size: 22vw;
         font-family: canopee;
         font-family: 100;
         line-height: 15vh;
         text-align: left;
         color: #1C1C19;
     }

     .page2-left h2 span {
         font-size: 40vw;
         font-family: canopee;
         color: black;

     }



     .page2-left img {
         height: 40vh;
         margin-left: 10vw;
         object-fit: contain;
         border: 1px solid black;
         margin-bottom: 1vw;
     }

     .page2-left p {
         font-size: 25px;
     }

     .page2-left p span {
         font-size: 35px;
         font-family: domine;
         background-color: #1C1C1A;
         color: white;
         padding: 2px;

     }

     .page2-right {
         height: 100%;
         width: 100%;
         /* padding: 2vw; */
         /* background-color: pink; */
         border-left: none;
     }

     .page2-right img {
         height: 23vh;
         width: 100%;
         object-fit: contain;
     }

     .page2-right h2 {
         padding: 2vw 0vw 0vw 1vw;
         font-size: 9.5vw;
         text-align: center;
         font-family: dom;
         text-transform: uppercase;
         color: #1C1C19;
         text-decoration: underline;
         text-decoration-thickness: 1px;
         text-decoration-color: #00000078;
     }

     .page3 {
         position: relative;
         background-color: #C3BBB2;
         display: flex;
         padding-left: 1vw;
         display: none;
         margin-bottom: 5vw;
     }

     .page4 {
         min-height: 150vh;
         padding-left: 2vw;
         background-color: #C3BBB2;
         display: flex;
         flex-direction: column;
         /* justify-content: space-between; */
     }

     .page4-leftside {
         height: 100%;
         width: 100%;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         flex-direction: column;

     }

     .box1 {
         width: 100%;
         height: 100%;
         text-align: left;

     }

     .box1 h1 {
        padding-top: 30vw;
         font-family: dom;
         font-size: 10vw;
     }

     .box1 h4 {
         font-family: editorial;
         font-size: 10vw;
         color: #1C1C1A;
     }

     .box2 {
         width: 100%;
         height: 100%;
         text-align: left;
         border-left: none;
         padding-left: 4vw;
     }

     .box2 .img-art {
         height: 90%;
         width: 90%;
         overflow: hidden;
         border: 1px solid black;
     }

     .img-art img {
         height: 100%;
         width: 100%;
         object-fit: cover;
         transition: all ease 0.5s;
         /* overflow: hidden; */

     }

     .img-art:hover img {
         scale: 1.2;
     }

     .box2 h2 {
         margin-top: 2vw;
         font-family: canopee;
         font-size: 13vw;
         color: #1C1C1A;
     }

     .box2 p {
         font-family: editorial;
         font-size: 4vw;
         font-weight: 300;
     }

     .box3 {
         padding-top: 2vw;
         height: 100%;
         width: 100%;
     }

     .box3 img {
         height: 100%;
         width: 98%;
         object-fit: cover;
     }

     .page4-rightside {
         height: 100%;
         width: 100%;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         margin-left: 1vw;
         border-left: none;
     }

     .material1 h2 {
         padding-left: 2vw;
         font-family: canopee;
         font-size: 18vw;
         text-decoration: line-through;
         text-decoration-thickness: 1px;
         text-decoration-color: #00000078;
     }

     .material1 h1 {
         padding-left: 3vw;
         font-family: canopee;
         font-size: 37vw;
         text-decoration: line-through;
         text-decoration-thickness: 1px;
         text-decoration-color: #00000078;
     }

     .material2 p {
         padding-left: 2vw;
         font-family: editorial;
         font-weight: 500;
         font-size: 5.5vw;
         line-height: 6.5vw;
         margin-bottom: 0vw;
     }

     .material3 {
         margin-top: 7.5vw;
         margin-bottom: 9vw;
         margin-left: 4vw;
         height: 15vh;
         width: 75%;
         border: 1px solid black;
         border-radius: 50%;
         /* background-color: red; */
         display: none;
         align-items: center;
         justify-content: center;
         flex-wrap: nowrap;
         overflow: hidden;
     }

    

     .page6 {
         min-height: 100vh;
         width: 100%;
         background-color: #c4bcb3;
         position: relative;
         /* display: flex;
           flex-direction: column;
           flex-wrap: wrap; */
     }

     .page6-top {
         height: 100%;
         width: 100%;
         /* background-color: crimson; */
         display: flex;
         flex-direction: column-reverse;
     }

     .page6-top-left {
         padding-top: 1vw;
         padding-left: 2vw;
         width: 100%;
         display: flex;
         flex-wrap: nowrap;
         align-items: center;
     }

     .page6-top-left img {
         display: none;
         height: 47vh;
         width: 14vw;
         border: 1px solid #1C1C19;
     }

     .page6-top-left h1 {
         margin-left: 10vw;
         font-family: canopee;
         font-size: 13vh;
         color: #1C1C1A;
         margin-right: 2vw;
     }

     .page6-top-left h2 {
         margin-left: 7vw;
         font-family: canopee;
         font-size: 13vh;
         margin-top: 0vh;
         color: #1C1C1A;
     }

     .page6-top-right {
         padding-right: 2vw;
         width: 100%;
         margin: 1vw;
     }

     .page6-top-right img {
         border: 1px solid #1C1C19;
         height: 43vh;
         width: 100%;
     }

     .page6-middle {
         margin-top: 0vw;
         height: 40%;
         width: 100%;
         display: flex;
         flex-direction: column;
         padding-top: 0vw;
         padding-left: 0vw;
         align-items: center;
     }

     .page6-middle-left img {
         height: 35vh;
         width: 90vw;
         border: 1px solid #1C1C19;
     }

     .page6-middle-right h1 {
         padding-left: 1vw;
         font-family: canopee;
         font-size: 30vw;
         color: #1C1C1A;
     }

     .page6-bottom {
         height: 40%;
         width: 100%;
         display: flex;
         padding-top: 2vw;
         padding-left: 2vw;
         align-items: center;
         flex-direction: column;
     }

     .page6-bottom-left {
         margin-left: 20vw;
         width: 100%;
         height: auto;
     }

     .page6-bottom-left h1 {
         font-size: 26vw;
         font-family: canopee;
         letter-spacing: 4px;
         padding: 0vw;
         background-color: #1C1C1A;
         font-weight: 100;
         color: #C3BBB2;
         width: 80%;
         height: 15vh;
     }

     .page6-bottom-right p {
        margin-top: 5vw;
        padding-left: 3vw;
        font-size: 5vw;
        font-family: editorial;
        line-height: 7vw;
     }

     .page6-bottom-right p span {
         font-family: canopee;
         font-size: 7vw;
         color: #1C1C1A;
         font-weight: 200;
     }

     .page7 {
         height: 50vh;
         width: 100%;
         background-color: #C6BEB5;
         position: relative;
         overflow: hidden;
     }

     .elems-part2 {
         height: 36vw;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-between;
         padding: 30px 30px;
     }

     .elem1-part2 {
         width: 100%;
         height: 100%;
         /* background-color: blue; */

     }

     .elem1-part2 h4 {
         font-size: 20px;
         margin-top: 10px;
         margin-bottom: 10px;
         font-family: canopee;
         font-weight: 500;
     }

     .elem1-part2 h4 span {
         background-color: #B83C12;
         color: rgba(255, 255, 255, 0.628);
         font-weight: 100;
         font-family: canopee;
         font-size: 15px;
         padding: 3px;
         border-radius: 3px;
     }

     .elem1-part2 p {
         color: rgba(0, 0, 0, 0.785);
     }

     .elem2-part2 {
        display: none;
         width: 30%;
         height: 100%;
         /* background-color: blue; */
         border-left: 1px solid rgba(0, 0, 0, 0.361);
         border-right: 1px solid rgba(0, 0, 0, 0.361);
         padding: 20px 60px;
         text-align: center;
     }

     .elem2-part2 h2 {
         font-family: canopee;
         font-weight: 580;
         font-size: 50px;
         color: rgba(0, 0, 0, 0.868);
     }

     .elem2-part2 h3 {
         font-family: editorial;
         font-weight: 500;
         font-size: 30px;
         color: rgba(0, 0, 0, 0.868);
         margin-bottom: 18px;
     }

     .elem2-part2 h6 {
         font-size: 15px;
         color: rgba(0, 0, 0, 0.751);
     }


     .elem3-part2 {
        display: none;
         width: 30%;
         height: 100%;
         /* background-color: blue; */
     }

     .elem3-part2 h4 {
         font-size: 20px;
         margin-top: 10px;
         margin-bottom: 10px;
         font-family: canopee;
         font-weight: 500;
     }

     .elem3-part2 p {
         color: rgba(0, 0, 0, 0.785);
     }

     .elem1-part2 .img-div {
        height: 220%;
         width: 100%;
         overflow: hidden;
         border: 1px solid black;
     }

     .elem3-part2 .img-div {
         height: 60%;
         width: 100%;
         overflow: hidden;
         border: 1px solid black;
     }

     .elem3-part2 h4 span {
         background-color: #B83C12;
         color: rgba(255, 255, 255, 0.628);
         font-weight: 100;
         font-family: canopee;
         font-size: 15px;
         padding: 3px;
         border-radius: 3px;
     }





     .img-div img {
         height: 100%;
         width: 100%;
         object-fit: cover;
         transition: all ease 0.5s;
     }

     .img-div:hover img {
         scale: 1.2;
     }


     .page5 {
        padding-left: 2vw;
        height: 5vh;
        width: 100%;
        background-color: #C3BBB2;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        border-top: 1px solid #1C1C1A;
        border-bottom: 1px solid #1C1C1A;
    }

    .page5::-webkit-scrollbar {
        display: none;
    }

    .page5 h1 {
        font-family: dom;
        font-size: 6vw;
        padding-right: 2vw;
        display: inline-block;
        margin-right: 2vw;
        animation: slider 7s infinite linear;
        color: #1C1C19;
        font-weight: 100;
    }

    .page5 h1 span {
        font-family: canopee;
        background-color: #222222;
        color: #c4bcb3;
        padding: 0 12px;
    }

    .page5:hover h1 {
        animation-play-state: paused;
    }

    @keyframes slider {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-100% - 2vw));
        }
    }

     .page-footer {
        padding-top: 3vw;
        margin-top: 0vw;
        height: 29vh;
        width: 100%;
        background-color: #C6BEB5;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-start;
     }

     .footer-leftside {
        margin-right: 4vw;
         display: flex;
         align-items: center;
         padding-left: 2vw;
         gap: 15px;
     }

     .footer-leftside img {
        display: none;
         height: 7vh;
         width: 2vw;
         object-fit: cover;
     }

     .footer-leftside h4 {
        padding-top: 2vw;
         font-family: canopee;
         font-size: 6vw;
         font-weight: 100;
         color: #1C1C19;
     }

     .footer-leftside h5 {
        display: none;
         font-family: editorial;
         font-size: 3.2vw;
         font-weight: 50;
         color: #1C1C19;
     }

     .footer-rightside {
         display: flex;
         justify-content: space-between;
         align-items: center;
         gap: 17px;
        margin-right: 1vw;
     }

     .footer-rightside h3 a {
         font-size: 2.5vw;
         font-family: canopee;
         font-weight: 500;
         text-decoration: none;
         color: #1c1c19ec;
     }

     .footer-rightside span {
        padding-bottom: 1vh;
        font-size: 7vw;
     }


     .nav a{
        text-decoration: none;
        font-family:dom;
        font-size: 3vw;
        color: #B83C12;
    }






 }